body {
    background: url("slike/sakura_tree.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    

}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.navbar-brand {
    margin-left: 30px  !important;
}
#kontakt {
    margin-left: 5%
}

.form-control {
    width: 250px !important;
}

.btn {
    margin-top: 20px;
}